body {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: #111;
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>div {
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    font-size: 0.92em;
    line-height: 1.35em;
    color: rgb(0 0 0 / 70%);
    margin: 0.6em 0 1.2em;
}

button {
    background-color: green;
    border: 1px solid rgb(0 0 0 / 60%);
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

button:disabled {
    background-color: gray;
    opacity: 0.8;
    pointer-events: none;
}

#debug {
    margin-top: 1em;
    height: 1.2em;
}
